
header{
    background-color: gray;
    height: 100px;
    text-indent: 10px;
    color: white
    

}

.saidenav{
    background-color: yellow;
    position: relative;
    float: left;
    height: 85vh;
    width: 155px;


}

  main{
    text-indent: em each-line ;
    background-color: beige;
    
  }
  h1{
  
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  h4{
  
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
 


